@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: red;
  height: 50px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

header #logo {
  padding-right: 5rem;
}

header #logo img {
  position: relative;
  right: -10px;
  top: -8px;
  height: auto;
  /* アスペクト比を保持しつつ高さを自動調整 */
  max-width: 200px;
  /* 必要に応じて最大幅を設定 */
}

header #search {
  padding-right: 15rem;
}

header #search input {
  width: 100%;
  height: 30px;
  /* 適切な高さを設定 */
  padding-right: 10rem;
  padding-left: 20px;
  margin-top: 10px;
  /* 上部の余白を設定 */
  border: 1px solid #767d83;
  border-radius: 3px;
  font-size: 1em;
  outline: none;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: right;
}

header nav li {
  display: inline;
  padding-top: 10px;
  margin-left: auto;
  cursor: pointer;
  margin-right: 30px;
}

#bread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 22px;
  list-style: none;
  padding: 0;
  font-size: .9em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1.5rem;
}

#bread li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bread li:first-child::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 4px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M11.7%207.5%204%2013.8v6.8c0%20.4.3.7.7.7h4.7c.4%200%20.7-.3.7-.7v-4c0-.4.3-.7.7-.7h2.7c.4%200%20.7.3.7.7v4c0%20.4.3.7.7.7h4.7c.4%200%20.7-.3.7-.7v-6.8l-7.7-6.3h-.9zm12.1%204.4L20.3%209V3.2c0-.3-.2-.5-.5-.5h-2.3c-.3%200-.5.2-.5.5v2.9L13.3%203c-.7-.6-1.8-.6-2.5%200L.2%2011.8c-.2.2-.3.5-.1.7l1.1%201.3c.2.2.5.2.7.1l9.8-8.1h.6l9.8%208.1c.2.2.5.1.7-.1l1.1-1.3c.2-.2.1-.5-.1-.6z%22%20style%3D%22fill%3A%23333333%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  content: '';
}

#bread li:not(:last-child)::after {
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: .3em;
  height: .3em;
  margin-left: 10px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  content: '';
}

#bread a {
  color: #333333;
  text-decoration: none;
}

#list {
  margin-top: 5rem;
  margin-right: 10rem;
  margin-left: 1.5rem;
}

#list h1 {
  margin-top: 10rem;
}

#list div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 10px 0;
  font-weight: 600;
}

#list ul {
  list-style-type: disc;
  margin: 0;
  padding: 1em 1em 1em 1.5em;
}

#list li {
  padding-top: 1rem;
  list-style: none;
}

#list li::marker {
  color: #2589d0;
  font-size: 1.1em;
}

#manaka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  background-color: #858a8e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 13rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

#masaru li {
  list-style: none;
}

#help li {
  list-style: none;
}

#pra li {
  list-style: none;
}

main {
  margin-top: 2rem;
}

#ff {
  padding-left: 500px;
}

.kou {
  text-align: center;
  display: block;
}

.kou p {
  font-size: 80%;
  line-height: 50px;
  margin: 20px 0;
  width: 150px;
  height: 50px;
  border: solid black 1px;
}

.ar {
  text-align: center;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ar p {
  font-size: 80%;
  line-height: 50px;
  margin: 20px 10px;
  width: 150px;
  height: 50px;
  border: solid black 1px;
}
/*# sourceMappingURL=ssu.css.map */