// // .head{
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body,html{
    height: 100%;
    min-height: 100vh;
    // overflow: auto; /* コンテンツが画面外にはみ出ないようにする */
 }     
// // }
header{
    background-color: red;
    // height: 50px;
    // margin-left: 20px;
    padding-top: 10px;
    display: flex;
    // position: relative;
    // margin-top: 0px;
    // left: -10px;
    // top: -10px;
    // right: 10px;
    // flex-direction: column; /* カラム方向に要素を配置 */
    // align-items: ; /* 中央寄せ */
    //  background-color: #2589d0;
    padding-bottom: 10px;
    #logo{
        padding-right: 5rem;

    }
    #logo img{
            position: relative;
            right: -10px;
            top: -8px;
            // width:100px;
            height: auto; /* アスペクト比を保持しつつ高さを自動調整 */
            max-width: 200px; /* 必要に応じて最大幅を設定 */

        }
    
    #search {
        // padding-top: 1rem;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // overflow: hidden;
        // border: 1px solid #767d83;
        // border-radius: 3px;
        // margin-right: rem;
        padding-right: 15rem;
    }
    #search input{
        width: 100%;
        height: 30px; /* 適切な高さを設定 */
        // padding-top: 5px;
        // padding-bottom: 5px;
        padding-right: 10rem;
        padding-left: 20px;
        
        // padding: 5px 20px;
        margin-top: 10px; /* 上部の余白を設定 */
        border: 1px solid #767d83;
        border-radius: 3px;
        font-size: 1em;
        outline: none;
        // height: ;
        // margin-top: 10px;
    }

// .search-form-003 input {
//     // width: 250px;
//     // height: 30px;
//     padding: 0px 15px;
//     border: none;
//     box-sizing: border-box;
//     font-size: 1em;
//     outline: none;
// }

// .search-form-003 input::placeholder{
//     color: #767d83;
// }

// .search-form-003 button {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 200px;
//     // height: 25px;
//     border: none;
//     background-color: transparent;
//     background-image: url('../img/search.png');
//     background-repeat: no-repeat;    
//     cursor: pointer;
// }
// .container {
//     // margin: 10px 10px;
//     display:flex;
//     flex-wrap: wrap;
//     gap: 10px 50px;
//   }
nav  ul{
    display: flex;
    // justify-content: flex-end;
    list-style: none;
    text-align: right;
}
nav li{
    display: inline;
    padding-top: 10px;
    // text-align: right;  
    margin-left: auto;  
    cursor: pointer;
    margin-right: 30px;    
}
} //header
#bread {
    display: flex;
    gap: 0 22px;
    list-style: none;
    padding: 0;
    font-size: .9em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1.5rem;
}

#bread li {
    display: flex;
    align-items: center;
}

#bread li:first-child::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 4px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M11.7%207.5%204%2013.8v6.8c0%20.4.3.7.7.7h4.7c.4%200%20.7-.3.7-.7v-4c0-.4.3-.7.7-.7h2.7c.4%200%20.7.3.7.7v4c0%20.4.3.7.7.7h4.7c.4%200%20.7-.3.7-.7v-6.8l-7.7-6.3h-.9zm12.1%204.4L20.3%209V3.2c0-.3-.2-.5-.5-.5h-2.3c-.3%200-.5.2-.5.5v2.9L13.3%203c-.7-.6-1.8-.6-2.5%200L.2%2011.8c-.2.2-.3.5-.1.7l1.1%201.3c.2.2.5.2.7.1l9.8-8.1h.6l9.8%208.1c.2.2.5.1.7-.1l1.1-1.3c.2-.2.1-.5-.1-.6z%22%20style%3D%22fill%3A%23333333%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}

#bread li:not(:last-child)::after {
    display: inline-block;
    transform: rotate(45deg);
    width: .3em;
    height: .3em;
    margin-left: 10px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    content: '';
}

#bread a {
    color: #333333;
    text-decoration: none;
}
#list {
    // border: 2px solid #2589d0;
    margin-top: 5rem;
    margin-right: 10rem;
    margin-left: 1.5rem;
}
#list h1{
    margin-top: 10rem;
}
#list div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 0;
    // background-color: #2589d0;
    // color: #fff;
    font-weight: 600;
}

#list ul {
    list-style-type: disc;
    margin: 0;
    padding: 1em 1em 1em 1.5em;

}

#list li {
    // padding: 2rem 2rem 2rem 0;
    padding-top: 1rem;
    list-style: none;
}

#list li::marker {
    color: #2589d0;
    font-size: 1.1em;
}
#manaka{
    display: flex;
}

main{
    margin-top: 2rem;
}
.footer {
    color: #808080;
    background: #e5e5e5;
    // padding: 30px;
    // margin-left: 20px;
    width: 100%;
   }
   .footer a {
    color: #808080;
    text-decoration: none;
   }
   .footer li a:hover {
    text-decoration: underline;
   }
   .footer .wrap {
    // width: 100%;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 50px;
    // margin-top: 50px;
    // margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
   .footer .wrap h3 {
    margin: 0 0 10px 0;
    padding: 0;
    border-bottom: 1px #c4c4c4 solid;
   }
   .footer .wrap p {
    margin: 0;
    padding: 0 0 20px 0;
   }
   .footer .wrap .box {
    width: 22%;
    // padding-left: 60px;
    // padding-right: 50px;
   }
   .footer .wrap .box ul {
    margin: 0;
    padding: 0 0 20px 0;
    list-style: none;
   }
   .footer .wrap .copyright {
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
   }
   
   @media only screen and (max-width: 599px) {
   .footer .wrap {
    width: 100%;
    // margin-left: 100px;
    box-sizing: border-box;
   }
   .footer .wrap h3 {
    border: none;
   }
   .footer .wrap .box {
    width: 100%;
   }
   .footer .wrap .box ul {
    border-top: 1px #c4c4c4 solid;
   }
   .footer .wrap .box ul li a {
    display: block;
    padding: 5px 15px;
    border-bottom: 1px #c4c4c4 solid;
   }
   }

  
//   .star-1 {
//     position: relative;
//     border-bottom: 50px solid #7f7fff;
//     border-right: 75px solid transparent;
//     border-left: 75px solid transparent;
//     transform: rotate(-37deg);
//   }
  
//   .star-1::before {
//     content: "";
//     position: absolute;
//     left: -75px;
//     border-bottom: 50px solid #7f7fff;
//     border-right: 75px solid transparent;
//     border-left: 75px solid transparent;
//     transform: rotate(-71.5deg);
//   }
  
//   .star-1::after {
//     content: "";
//     position: absolute;
//     left: -75px;
//     border-bottom: 50px solid #7f7fff;
//     border-right: 75px solid transparent;
//     border-left: 75px solid transparent;
//     transform: rotate(71.5deg);
//   }

// .search-form-003 button::after {
//     width: 20px;
//     height: 20px;
//     content: '';
// }
// header{
//     display: flex;
//     ul{
//         display: flex;
//     }
// }